.about
	margin-top 415px
	&__body
		display flex
	&__image
		position relative
		flex-basis 45%
		img
			position absolute
			top -127px
			left -167px
	&__text
		padding-top 45px
		flex-basis 60%
		p
			font-family reg
			font-size 22px
			line-height 32px
		a
			margin-top 45px
			padding-left 8px
			display flex
			text-decoration none
			cursor pointer
			img
				margin-right 43px
			span
				margin-top 23px
				font-family bold
				font-size 22px
				text-decoration underline
				color c_brown
