.yellow-btn
	padding-x(20px)
	display inline-flex
	align-items center
	justify-content center
	min-width 206px
	height 60px
	font-family semi
	font-size 20px
	background-color #ffb505
	border none
	border-radius 40px