mixin nav(data)
	+b('nav').nav&attributes(attributes)
		+e('button').btn
			span
		+e('ul').col
			each item in data
				+e('li').item
					a(href='#{item.id}' data-anim='#{item.name}') #{item.name}
		+e.col
			+e('span').phone 8 (800) 555 33 26
