.nav
	margin-top 58px
	padding-y(20px)
	padding-left 3px
	display flex
	align-items center
	&__col
		display flex
		width 50%
	&__item
		margin-right 39px
		a
			position relative
			display block
			overflow hidden
			font-family semi
			font-size 22px
			text-decoration none
			color c_black
			&:hover
				&:after
					width 100%
			&:after
				position absolute
				left 0
				overflow hidden
				width 0
				white-space nowrap
				content attr(data-anim)
				color #ffb505
				transition width 1s
	&__phone
		margin-x(auto)
		font-family xbold
		font-size 25px

