.nav
	margin-top 58px
	padding-y(20px)
	padding-left 3px
	display flex
	align-items center
	&__col
		display flex
		width 50%
	&__item
		margin-right 39px
		a
			font-family semi
			font-size 22px
			text-decoration none
			color c_black
	&__phone
		margin-x(auto)
		font-family xbold
		font-size 25px

