analogue = 'AnalogueThin'
reg = 'ProximaNovaReg'
semi = 'ProximaNovaSemi'
bold = 'ProximaNovaBold'
xbold = 'ProximaNovaXBold'

@font-face
  font-family 'AnalogueThin'
  src url('../fonts/AnalogueThin.woff') format('woff')
@font-face
  font-family 'ProximaNovaReg'
  src url('../fonts/ProximaNovaRegular.woff') format('woff')
@font-face
  font-family 'ProximaNovaSemi'
  src url('../fonts/ProximaNovaSemibold.woff') format('woff')
@font-face
  font-family 'ProximaNovaBold'
  src url('../fonts/ProximaNovaBold.woff2') format('woff2')
@font-face
  font-family 'ProximaNovaXBold'
  src url('../fonts/ProximaNovaExtrabold.woff') format('woff')