extends ../blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/section/section
include ../blocks/container/container
include ../blocks/title/title

block head
	- var pageTitle = 'Veranda';

block content
	+header()
	+section()
		+container()
			+b.about
				+title('Что вас ждет')
				+e.body
					+e().image
						img(src='assets/images/coktail.png')
					+e.text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						a(href='#')
							img(src='assets/images/advisor.png')
							span посмотреть что о нас говорят





