extends ../blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/about/about
include ../blocks/gallery/gallery
include ../blocks/menu/menu
include ../blocks/contacts/contacts

block head
	- var pageTitle = 'Veranda';

block content
	+header(getData('nav'))
	+about()
	+gallery(getData('gallery'))
	+menu()
	+contacts()
