.menu
	margin-top 73px
	display block
	+below(992px)
		overflow-x hidden
	.title
		margin-bottom 34px
	&__wrap
		display flex
		+below(768px)
			flex-direction column
	&__img
		width 32.3%
		flex-shrink 0
		+below(768px)
			margin auto
			margin-top -40px
			min-width 240px
	&__link
		position relative
		margin-top 117px
		margin-left 27px
		display block
		width 200px
		font-family bold
		font-size 13.47px
		line-height 15px
		text-align center
		color c_brown
		&:before, &:after
			position absolute
			z-index 0
			top 50%
			left 50%
			display block
			content ''
			transform translate(-50%, -50%)
			border 1px solid #cdeeff
			border-radius 50%
		&:before
			size(200px)
			animation pulse 1s ease infinite
		&:after
			size(150px)
			animation pulse 1s ease-in-out infinite
		img
			position relative
			size(100%)
			object-fit contain
			z-index 1
		span
			margin-top 8px
			margin-left 38px
			display block
			width 120px
	&__body
		margin-top 65px
		width 100%
		+below(600px)
			display flex
			flex-direction column
			align-items center
	&__list
		display flex
		justify-content space-between
		+below(600px)
			flex-direction column
			align-items center
	&__col
		width 100%
		max-width 350px
	&__col-title
		margin-bottom 25px
		font-family bold
		font-size 25px
		color c_brown
		+below(600px)
			font-size 18px
	&__col-item
		margin-bottom 23px
		font-family reg
		font-size 18px
		line-height 21px
		+below(600px)
			margin-bottom 15px
			font-size 16px
	.yellow-btn
		margin-top 30px
@keyframes pulse
	0%
		opacity 0
	40%
		opacity 1
	70%
		opacity .8
	100%
		transform translate(-50%, -50%) scale(2)
		opacity 0